/* The global scope for CSS custom properties is actually the :root scope,
   whereupon the property is available globally. */
:root{
  --main-color: #4d4e53;
  --color: #fff;
  --background-color: #c2c3ca;

  /* Valid CSS custom properties can be reused later in, say, JavaScript. */
  --foo: if(x > 5) this.width = 10;
  --red: red;
}

* {
    box-sizing: border-box;
}

html {
    color: white;
}

.box {
    background: var(--background-color);
    border: 10px solid black;
    /*color: white;*/
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#a {
    border-color: var(--main-color);    
}

#b {
    border-color: var(--some-variable, cornflowerblue);
}

/* Var takes optional fallback, which can also be a custom property */
#c {
    border-color: var(--some-variable, var(--main-color));
}

#d {
    border-color: cornflowerblue;
    /* border: calc(var(--some-variable)*1px) solid red; */
}

.e1 {
    border-color: var(--red);
}

.e2 {
    --red: orange;
    border-color: var(--red);
}

.pink {
    --pink: pink;
}

.f {
    /* border will be pink if class="f pink" otherwise it's red */
    border-color: var(--pink, var(--red));
}

.g {
    --g-border-color: blue;
    border-color: var(--g-border-color);
}

.g:hover {
    --g-border-color: red;
}

.h {
    --h-border-color: green;
    border-color: var(--h-border-color);
}


